In [1]:
import eikon as ek
import quandl as qd

## Quandl

In [8]:
data = qd.get('BCHAIN/MKPRU', api_key='-BQwaPFusc7HH3LkSyx7')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4546 entries, 2009-01-02 to 2021-06-13
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   4546 non-null   float64
dtypes: float64(1)
memory usage: 71.0 KB

In [10]:
data.head()

            Value
Date
2009-01-02    0.0
2009-01-03    0.0
2009-01-04    0.0
2009-01-05    0.0
2009-01-06    0.0

In [11]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    35494.900000
Freq: A-DEC, Name: Value, dtype: float64

In [13]:
data = qd.get('FSE/SAP_X', start_date='2018-1-1',end_date='2020-05-01',api_key='-BQwaPFusc7HH3LkSyx7')

In [14]:
data.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2018-01-02,93.35,93.95,92.12,92.80,None,2334984.0,216571734.0,None,None,None
2018-01-03,93.00,94.65,92.63,94.07,None,2346852.0,219877195.0,None,None,None
2018-01-11,NaN,93.74,91.04,91.43,None,4274991.0,393498865.0,None,None,None
2018-01-12,NaN,91.47,90.27,90.73,None,3437210.0,312013502.0,None,None,None
2018-01-15,NaN,90.61,89.71,90.06,None,2053812.0,185176806.0,None,None,None

In [3]:
symbols = ['AAPL.O', 'MSFT.O', 'GOOG.O']
data = ek.get_timeseries(symbols,
start_date='2020-01-01',
end_date='2020-05-01',
interval='daily',
fields=['*'])

HTTP request failed: 'NoneType' object has no attribute 'http_request'

In [5]:
type(data)

NoneType