In [1]:
import pandas as pd
import numpy as np

C:\Users\Jefferson\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [2]:
df = context.catalog.load("sma_example_local")
df.head()

2021-06-16 14:49:54,234 - kedro.io.data_catalog - INFO - Loading data from `sma_example_local` (CSVDataSet)...

,Date,AAPL.O,MSFT.O,INTC.O,AMZN.O,GS.N,SPY,.SPX,.VIX,EUR=,XAU=,GDX,GLD
0,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4323,1096.35,NaN,NaN
1,2010-01-04,30.572827,30.950,20.88,133.90,173.08,113.33,1132.99,20.04,1.4411,1120.00,47.71,109.80
2,2010-01-05,30.625684,30.960,20.87,134.69,176.14,113.63,1136.52,19.35,1.4368,1118.65,48.17,109.70
3,2010-01-06,30.138541,30.770,20.80,132.25,174.26,113.71,1137.14,19.16,1.4412,1138.50,49.34,111.51
4,2010-01-07,30.082827,30.452,20.60,130.00,177.67,114.19,1141.69,19.06,1.4318,1131.90,49.10,110.82

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2609 non-null   object
 1   AAPL.O  2516 non-null   float64
 2   MSFT.O  2516 non-null   float64
 3   INTC.O  2516 non-null   float64
 4   AMZN.O  2516 non-null   float64
 5   GS.N    2516 non-null   float64
 6   SPY     2516 non-null   float64
 7   .SPX    2516 non-null   float64
 8   .VIX    2516 non-null   float64
 9   EUR=    2609 non-null   float64
 10  XAU=    2602 non-null   float64
 11  GDX     2516 non-null   float64
 12  GLD     2516 non-null   float64
dtypes: float64(12), object(1)
memory usage: 265.1+ KB

In [13]:
params = catalog.load('parameters')

2021-06-16 14:52:14,362 - kedro.io.data_catalog - INFO - Loading data from `parameters` (MemoryDataSet)...

In [7]:
params['sma']['SMA1']

42

In [27]:
def prepare_sma_example(raw:pd.DataFrame, params):
    data = raw[['Date','EUR=']]
    data = data.rename(columns={'EUR=': 'price'})
    data['return'] = np.log(data['price'] / data['price'].shift(1))
    data['SMA1'] = data['price'].rolling(params['sma']['SMA1']).mean()
    data['SMA2'] = data['price'].rolling(params['sma']['SMA2']).mean()
    data = data[['Date', 'price', 'SMA1', 'SMA2']]
    return data

In [16]:
raw = df

data = raw[['Date','EUR=']]
data = data.set_index('Date')
data = data.rename(columns={'EUR=': 'price'})
data['return'] = np.log(data['price'] / data['price'].shift(1))
data['SMA1'] = data['price'].rolling(params['sma']['SMA1']).mean()
data['SMA2'] = data['price'].rolling(params['sma']['SMA2']).mean()

In [17]:
data.head()

             price    return  SMA1  SMA2
Date
2010-01-01  1.4323       NaN   NaN   NaN
2010-01-04  1.4411  0.006125   NaN   NaN
2010-01-05  1.4368 -0.002988   NaN   NaN
2010-01-06  1.4412  0.003058   NaN   NaN
2010-01-07  1.4318 -0.006544   NaN   NaN

In [ ]:
sma